<ion-content>
  <div class="container">
    
    <!-- Titulo de la página. -->
    <div class="row mt-4">
      <div class="col-sm-7" id="titulo-page">
        Menú
      </div>
    </div>

    <!-- Contenido de la primera sección. -->
    <div class="row mt-5" *ngFor="let seccionsAndTranck of seccionsAndTrancks">
      <div class="col">
        
        <!-- Titulo -->
        <div class="titulo">
          {{ seccionsAndTranck.titulo }} {{ seccionsAndTranck.coleccion }}
        </div>
        
        <!-- Body canciones -->
        <div class="d-flex justify-content-start contenedor">
          <div class="col-5 pointer" *ngFor="let tracks of seccionsAndTranck.tracks" (click)="showModalAudio( tracks.id, 'https://spacuantico.com/files/multimedia/'+tracks.archivo )">
            <div class="albun">
              <img class="img-fluid img-albun" src="https://spacuantico.com/files/multimedia/{{ tracks.imagen }}">
              <!-- <ion-img class="img-fluid img-albun" src="https://spacuantico.com/files/multimedia/{{ tracks.imagen }}"></ion-img> -->
            </div>
            <div class="controles">
              <span class="icon-play">
                <ion-icon name="play-circle-outline"></ion-icon>
              </span>
              Reproducir
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>

  
</ion-content>

<!-- Footer -->
<ion-footer [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div class="container">
      <div class="row row-cols-sm-5">
        
        <!-- Audios -->
        <div class="col">
          <span (click)="audios()">
            <ion-img class="img-fluid img-icon mx-auto" src="assets/Audios-energeticos.png"></ion-img>
          </span>
        </div>
  
        <!-- Podcast -->
        <div class="col">
          <span (click)="podcast()">
            <ion-img class="img-fluid img-icon mx-auto" src="assets/Podcast.png"></ion-img>
          </span>
        </div>
  
        <!-- Clases faltaaaaa -->
        <div class="col">
          <span (click)="dashboard()">
            <ion-img class="img-fluid img-icon mx-auto" src="assets/Clases.png"></ion-img>
          </span>
        </div>
  
        <!-- Camaras cuanticas -->
        <div class="col">
          <span (click)="grupales()">
            <ion-img class="img-fluid img-icon mx-auto" src="assets/Camaras-cuanticas.png"></ion-img>
          </span>
        </div>
  
        <!-- Sesiones grupales faltaaaaa-->
        <div class="col">
          <span (click)="dashboard()">
            <ion-img class="img-fluid img-icon mx-auto" src="assets/Sesion-grupal.png"></ion-img>
          </span>
        </div>

      </div>
    </div>
  </ion-toolbar>
</ion-footer>